.dashboard-page-container {
    width: 99.7vw;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
}
.main-view-window {
    border: 2px solid rgba(0, 0, 0, 0);
    width: 79.7vw;
    height: 90.05vh;
    position: absolute;
    top: 10vh;
    left: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow-y; */
    overflow-x: scroll;
}
.mvw-top {
    width: 99.7%;
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}
.api-usage-card {
    border-radius: 10px;
    width: 42%;
    height: 80%;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.132);
    padding: 2.5%;
}
.get-started-card {
    border-radius: 10px;
    width: 42%;
    height: 80%;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.132);
    padding: 2.5%;
}
.getStarted-info {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.getStarted-items-cont {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
}
.getStarted-items {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mnw-top-titles {
    margin: 0;
    font-size: 22px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mvw-sub-title {
    width: 98%;
    height: fit-content;
    margin: 0;
    padding-left: 2%;
    padding-top: .5%;
    padding-bottom: .5%;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mvw-bottom {
    width: 99.5%;
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

@media screen and (max-width: 1030px) {
    .main-view-window {
        width: 99.9%;
        left: 0;
    }
}