.demoCard-main-container {
    border-radius: 10px;
    width: 95.7%;
    height: 30vh;
    margin-left: 2%;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.184);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.demoCard-title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 350;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.demo-cont {
    width: 95%;
    height: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 2.5px;
}
.demo-button {
    width: 30%;
    height: 25px;
    margin: 2.5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(0, 0, 0, 0.692);
    background-color: rgba(0, 255, 30, 0.233);
}
.demo-button:hover {
    scale: 1.025;
    cursor: pointer;
    color: black;
    background-color: rgba(0, 255, 30, 0.424);
}