.docs-page-container {
    width: 99.7vw;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
}
.back-to-home-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 11vh;
    left: 2vw;
    opacity: 75%;
    z-index: 9999;
}
.back-to-home-icon:hover {
    opacity: 1;
    scale: 1.025;
    cursor: pointer;
}
.docs-section1-cont {
    position: relative;
    top: 10vh;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.docs-section2-cont {
    margin-top: 10vh;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.docs-section3-cont {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}