.faCard-main-container {
    border-radius: 10px;
    width: 30.8%;
    height: 92%;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.132);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.faCard-main-container:hover {
    scale: 1.025;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.202);
}
.faCard-icons {
    width: 70px;
    height: 70px;
}
.faCard-action-btn {
    margin-top: 10px;
    border: none;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(0, 0, 0, 0);
}
.faCard-action-btn:hover {
    cursor: pointer;
}
.widget-info {
    width: 30%;
    height: 30%;
    position: absolute;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 20px;
}