.navbar-main-container {
    width: 99.9vw;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px black;
}
.navbar-logo-cont {
    width: 18%;
    height: 100%;
    padding-left: 2%;
    display: flex;
    align-items: center;
}
.logo {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}
.logo2 {
    margin: 0;
    font-size: 30px;
}
.navbar-icons-cont {
    width: 28%;
    height: 100%;
    padding-right: 2%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5%;
}
.navbar-buttons {
    width: fit-content;
    height: fit-content;
    font-size: 17px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    color: rgba(0, 0, 0, 0.764);
}
.nabvar-icons {
    width: 30px;
    height: 30px;
}
.navbar-buttons:hover, .nabvar-icons:hover {
    scale: 1.025;
    cursor: pointer;
    color: black;
}