.secondSide-main-container {
    border-right: 2px solid rgba(232, 232, 232, 0.124);
    width: 20vw;
    height: 90vh;
    position: absolute;
    top: 10vh;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(232, 232, 232, 0.072);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.102);
    z-index: 9999;
}