.settings-page-container {
    width: 99.7vw;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
}
.settings-main-cont {
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.settings-alert-icon {
    width: 100px;
    height: 100px;
    animation-name: flash;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.settings-alert {
    margin-top: 20px;
    font-size: 60px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation-name: flash;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes flash {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}