.sidenav-main-container {
    border-right: 2px solid rgba(232, 232, 232, 0.124);
    width: 20vw;
    height: 90vh;
    position: absolute;
    top: 10vh;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(232, 232, 232, 0.072);
}
.sidenavMob-main-container {
    border-right: 2px solid rgba(232, 232, 232, 0.124);
    width: 20vw;
    height: 90vh;
    position: absolute;
    top: 10vh;
    right: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(232, 232, 232, 0.072);
}
.sidenav2-main-container {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 20vw;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 10vh;
    left: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(232, 232, 232, 0.223);
    z-index: 9999;
}
.sideNav-titles {
    margin: 0;
    font-size: 18px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.sideNav-titles:hover {
    cursor: pointer;
    font-weight: 625;
}

@media screen and (max-width: 1030px) {
    .sidenav-main-container {
        display: none;
    }
    .sidenavMob-main-container {
        display: flex;
        justify-content: flex-start;
        z-index: 999;
        height: fit-content;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: rgba(212, 212, 212, 0.601);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .sideNav-titles {
        font-size: 15px;
    }
    .sideNav-titles:hover {
        font-weight: 550;
    }
}